body{
    background-color: rgb(20, 87, 72);
    color: #ffffff;
}
img{
   float: right;
   padding-bottom: 40px;
}
h1{
    font-size: 30px;
    text-align: center;
    
}
ul li
{
    list-style-type: none;
    font-size: 25px;
    
}
a{
    color: orangered;
    font-weight: bold;
    text-decoration: none;
    
}
a:hover{
    color: rgb(4, 19, 4);
    
}
#about{
    text-decoration: underline;
}
center{
    background-color: #ffffff;
    color: #000000;
    padding-bottom: 30px;
}